html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body{
    background-color: rgb(0, 0, 0);
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: ;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 200), rgb(36, 81, 111));
    height: 10vh;
    font-family: 'Ranchers', cursive;
    padding:5px 5px 5px 5px;
  
}

nav{
    height: 70px;
    background-image: linear-gradient(to top left, rgb(32, 155, 186), rgb(233, 128, 243));
    background-color: rgb(138, 155, 204);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 40px;
    margin:0px 10px 0px 10px;
    text-shadow:2px 2px #42d6b6;
    
}
#arK9{
    height: 80px;
    width:100px
}
h3{
    font-size:20px;
    margin: 10px 10px 10px 10px;
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}

.title-link:hover{

    -webkit-transform: scale(1.2); 
    color:rgb(114, 19, 12);
    border-radius: 25px;
}

.title-link{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Rye', cursive;
}
#nfl-logo{
margin: 10px 10px -6px 0;
    height: 35px;

}
#nba-logo{
    margin: 10px 10px -6px 0;
    height: 35px;
    width: 23px;
    
    }

h2{
    margin: 15px 0px 0px 15px;
    font-weight: 800;
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#auth{
    height: 20px;
    width: 20px;
}
main{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
   
    background-color: rgb(214, 214, 214);
    color:#000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-top: 10px;
   
}

#nfl-standings{
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:10px;
    height: 200vh;
}

.logo{
    height: 50px;
    width: 50px;
}

.player-pic{
    border-radius: 25px;
}

article{
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:15px;
    height: 25vh;
    width:20vw;
    margin:10px;
}

.profile{
    display: flex;
    flex-direction: row;
  justify-content: space-around;
}
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.player-pic{
    height: 15vh;
    width:8vw;
}

footer{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    color: rgb(182, 255, 182);
    font-weight: bolder;
    font-size: 25px;
    padding: 40px 0px 0px 0px ;
}


